/* Common for site header =================================================== */
  #{$header}{
    position: fixed;
    height: $headerH;
    width: 100%;
    min-width: $minWidth;
    left: 0;
    top: 0;
    z-index: 1;
    background: #FFF;
    z-index: 9;
    box-shadow: 0 0 4px -1px #000;
    #{$infoBar}{
      li{
        &:last-child{
          margin-left: auto;
        }
      }
    }
  }
  .admin-bar{
    #{$header}{
      top: 32px;
    }
  }
/* Middle bar with logo and nav ============================================= */
  #{$hMainBar}{
    padding: $mainIndent*.75 0;
    > .flex{
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    #{$linkWithIcon}{
      padding-left: $mainIndent*2;
      font-size: 18px;
      &::before{
        font: 30px/1 $iconsFont;
      }
    }
  }
/* Media Queries ============================================================ */
  @media screen and (max-width: $s){
    #{$header}{
      height: $mHeaderH;
      #{$infoBar}{
        .mw{
          flex-flow: column;
          text-align: right;
        }
        li{
          flex: 1 1 auto;
          margin: 3px 0;
          &:last-child{
            margin: 3px 0;
          }
        }
        #{$linkWithIcon}{
          flex-direction: row-reverse;
          margin: 0;
          &::before{
            width: 20px;
            padding-right: 0;
            padding-left: $mainIndent*.25;
          }
        }
      }
    }
  }
  @media screen and (max-width: $xs){
    #{$header}{
      #{$logo}{
        img{
          display: none;
        }
        span{
          padding: 0;
        }
      }
    }
  }
/* ========================================================================== */
