  $bAboutCompany: '.b-about-company';
/* ========================================================================== */
  #{$bAboutCompany}{
    #{$gDescription}{
      padding: 0 $mainIndent*1.5 0 0;
    }
    #{$button}{
      display: block;
      width: 150px;
      margin: $mainIndent*2 0 0;
    }
  }
/* Media Queries ============================================================ */
  @media screen and (max-width: $m){
  	#{$bAboutCompany}{
      .mw{
        flex-direction: column;
      }
      #{$gDescription}{
        padding: 0 0 $mainIndent;
      }
      .image{
        display: none;
      }
  	}
  }
  @media screen and (max-width: $s){
    #{$bAboutCompany}{
      h2{
        text-align: center;
      }
      #{$gDescription}{
        padding: 0;
      }
      #{$button}{
        margin: $mainIndent*1.5 auto 0;
      }
    }
  }
/* ========================================================================== */