/*
	Simple breadcrumbs trail.

  1. $bBreadcrumbs(ul) - parent container.
  2. $crumb(li) - child elements holding <a> inside except last one.

	Used all over the site, except home and category page.
  Function which creates breadcrumbs described in functions.php
*/
/* Common =================================================================== */
	#{$bBreadcrumbs}{
		margin-bottom: $mainIndent*3;
		#{$crumb}{
			display: flex;
			align-items: center;
			&:last-child{
				padding: $mainIndent*.2 $mainIndent*.5;
				@extend %darkBlock;
				&::after{
					display: none;
				}
			}
			&::after{
				content: $iArrowRight;
				padding: 0 $mainIndent*.5;
				font: 10px/1 $iconsFont;
			}
		}
	}
/* Media Queries ============================================================ */
	@media screen and (max-width: $l){
		#{$bBreadcrumbs}{
			margin-bottom: $mainIndent*1.5;
		}
	}
/* ========================================================================== */