/*
  Block which contains google map.
  Have loader centered on background which shown while map not loaded.
  When map loaded, it overlaps loader.

  1. $bMap - container for map.
*/
/* Common =================================================================== */
  #{$bMap}{
    height: 500px;
    background: $primaryDarkColor $ajaxLoader no-repeat center center / 50px 50px;
    img{
      display: inline;
      max-height: inherit;
    }
  }
/* Media Queries ============================================================ */
  @media screen and (max-width: $m){
    #{$bMap}{
      height: 400px;
    }
  }
  @media screen and (max-width: $s){
    #{$bMap}{
      height: 300px;
    }
  }
  @media screen and (max-width: $xs){
    #{$bMap}{
      height: 250px;
    }
  }
/* ========================================================================== */