/*
	Block with page title and description(optionaly).
	Positioned at the top of page.
*/
/* Common =================================================================== */
	#{$bPageIntro}{
		margin: 0 0 $mainIndent*2;
		@extend %darkBlock;
		@extend %bWithOverlay;
		#{$gDescription}{
			@extend %introDescription;
		}
		#{$pageTitle}{
			text-shadow: 0 0 1px $primaryTextColor;
    	border-bottom: 1px solid;
		}
	}
/* Media Queries ============================================================ */
	@media screen and (max-width: $l){
		#{$bPageIntro}{
			height: 400px;
		}
	}
	@media screen and (max-width: $m){
		#{$bPageIntro}{
			height: 300px;
		}
	}
	@media screen and (max-width: $xs){
		#{$bPageIntro}{
			height: 250px;
		}
	}
/* ========================================================================== */