/*
  Block which contains service image, title and price table.
  Used in homepage, prices and each service page.
  On service page there's no title.
*/
/* Common =================================================================== */
  #{$bService}{
    header{
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      margin: 0 0 $mainIndent;
    }
    img{
      width: 70px;
      height: 70px;
      padding: $mainIndent*.5;
      margin-bottom: $mainIndent*.5;
      border: 2px solid $secondaryColor;
      border-radius: 50%;
      box-shadow: 0 2px 5px 1px #000;
      @extend %darkBlock;
    }
    #{$subTitle}{
      margin: 0;
      color: $primaryDarkColor;
      font-size: 30px;
      text-align: center;
    }
  }
/* Media Queries ============================================================ */
  @media screen and (max-width: $m){
    #{$bService}{
      #{$subTitle}{
        font-size: 28px;
      }
    }
  }
  @media screen and (max-width: $s){
    #{$bService}{
      #{$subTitle}{
        font-size: 26px;
      }
    }
  }
  @media screen and (max-width: $xs){
    #{$bService}{
      header{
        margin-bottom: $mainIndent*.5;
      }
      img{
        width: 50px;
        height: 50px;
      }
      #{$subTitle}{
        font-size: 20px;
      }
    }
  }
/* ========================================================================== */