	$pageIntro: '.page-intro';
/* Common =================================================================== */
	#{$pageIntro}{
		margin: 0 0 $mainIndent*2;
		@extend %darkBlock;
		@extend %bWithOverlay;
		#{$gDescription}{
			@extend %introDescription;
		}
	}
/* Media Queries ============================================================ */
	@media screen and (max-width: $l){
		#{$pageIntro}{
			height: 400px;
		}
	}
	@media screen and (max-width: $m){
		#{$pageIntro}{
			height: 300px;
		}
	}
	@media screen and (max-width: $xs){
		#{$pageIntro}{
			height: 250px;
		}
	}
/* ========================================================================== */