/* Price Table ============================================================== */
  #{$priceTable}{
    max-width: $m;
    margin: 0 auto $mainIndent*2.5;
    border-top: 1px solid $dividerColor;
    td{
      vertical-align: top;
      padding: $mainIndent*.5;
    }
    tr{
      transition:
        color $fastSpeed linear,
        background-color $fastSpeed linear;
      &:hover{
        color: $primaryDarkColor;
        background: $dividerColor;
      }
    }
    #{$iconClass}{
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      font-weight: 300;
      &::before{
        padding-left: $mainIndent*.25;
        font-size: 14px;
      }
    }
  }
/* Media Queries ============================================================ */
  @media screen and (max-width: $xs){
    #{$priceTable}{
      .name{
        width: 65%;
      }
    }
  }
/* ========================================================================== */