/* Icons ================================================================================= */
  #{$iconClass}{
    &::before,
    &::after{
      display: block;
      font-family: $iconsFont;
      transition: color $fastSpeed linear;
    }
    &.menu{
      &::before{
        content: $iMenu;
      }
    }
    &.pin{
      &::before{
        content: $iPin;
      }
    }
    &.phone{
      &::before{
        content: $iPhone;
      }
    }
    &.mail{
      &::before{
        content: $iEnvelope;
      }
    }
    &.ruble{
      &::before{
        content: $iRuble;
      }
    }
    &.time{
      &::before{
        content: $iClock;
      }
    }
    &.d-angle-top{
      &::before{
        content: $iDoubleArrowTop;
      }
    }
  }
/* ======================================================================================= */