/* Keyframes ============================================================================= */
  @keyframes blink{
    0%{
      opacity: 1;
    }
    50%{
      opacity: .8;
    }
    100%{
      opacity: 1;
    }
  }
  @keyframes annoyingArrow{
    0%{
      @include translate(0,$mainIndent/2);
    }
    50%{
      @include translate(0,0);
    }
    100%{
      @include translate(0,$mainIndent/2);
    }
  }
/* ======================================================================================= */