/* Placeholders ============================================================= */
  %border-box{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  %no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  %resetAppearence{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }
  %border-radius-50{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  %overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  %hidden{
    opacity: 0;
    visibility: hidden;
  }
  %visible{
    opacity: 1;
    visibility: visible;
  }
/* Headings ================================================================= */
  %title{
    margin: 0 0 $mainIndent;
    font-size: 40px;
  }
/* Secondary Block=========================================================== */
  %darkBlock{
    color: #FFF;
    background: $primaryTextColor url(../img/noise.png) repeat left top;
  }
/* Block with overlay ======================================================= */
  %bWithOverlay{
    position: relative;
    width: 100%;
    height: 500px;
    background: top center / cover;
    &::before{
      content: '';
      position: absolute;
      background: rgba(#000, .7);
      box-shadow: 0 0 4px -1px #000 inset;
      @extend %overlay;
    }
  }
  %introDescription{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100%;
    max-width: $s;
    margin: 0 auto;
    padding: $mainIndent*2;
    text-align: center;
  }
/* ========================================================================== */