/* Animations ============================================================================ */
  .anim{
    @extend %transition-normal-speed;
    $children: 10;
    @for $i from 1 through $children {
      &:nth-child(#{$i}) {
        transition-delay: ($normalSpeed * $i);
      }
    }
    &-fade{
      @extend %hidden;
    }
    &-slide-left{
      transform: translate($mainIndent*2,0);
    }
    &-slide-right{
      transform: translate((-$mainIndent*2),0);
    }
    &-slide-top{
      transform: translate(0,$mainIndent*2);
    }
    &-slide-bot{
      transform: translate(0,(-$mainIndent*2));
    }
  }
  .in-view{
    .anim{
      &-fade{
        @extend %visible;
      }
      &-slide-left,
      &-slide-right,
      &-slide-top,
      &-slide-bot{
        transform: translate(0,0);
      }
    }
  }
/* ======================================================================================= */