/* ========================================================================== */
	#{$bServiceExample}{
		position: relative;
		margin: 0 auto $mainIndent*2;
		padding: $mainIndent*2 0;
		text-align: center;
		color: #FFF;
		background: $primaryDarkColor url(../img/noise.png) repeat left top;
		.mw{
			position: relative;
			max-width: $s;
		}
		#{$roundedImages}{
			justify-content: center;
		}
		h2{
			@extend %title;
		}
	}
/* ========================================================================== */