/* Common =================================================================== */
	#{$bServiceExample}{
		position: relative;
		margin: 0 auto $mainIndent*2;
		padding: $mainIndent*2 0 $mainIndent*2.5;
		text-align: center;
		background-color: $primaryDarkColor;
		@extend %darkBlock;
		.mw{
			position: relative;
			max-width: $s;
		}
		#{$roundedImages}{
			justify-content: center;
		}
		#{$title}{
			display: inline-block;
			margin-bottom: $mainIndent*2;
			border-bottom: 1px solid;
		}
	}
/* ========================================================================== */