  $map: '.map';
/* Map ====================================================================== */
  #{$map}{
    width: 100%;
    height: 500px;
    background: $primaryDarkColor $ajaxLoader no-repeat center center / 50px 50px;
    img{
      display: inline;
      max-height: inherit;
    }
  }
/* Media Queries ============================================================ */
  @media screen and (max-width: $m){
    #{$map}{
      height: 400px;
    }
  }
  @media screen and (max-width: $s){
    #{$map}{
      height: 300px;
    }
  }
  @media screen and (max-width: $xs){
    #{$map}{
      height: 250px;
    }
  }
/* ========================================================================== */