  $map: '.map';
/* Map ====================================================================== */
  #{$map}{
    width: 100%;
    height: 500px;
    background: #FFF $ajaxLoader no-repeat center center;
    img{
      display: inline;
      max-height: inherit;
    }
  }
  .map-pin{
    width: 50px;
  }
/* Media Queries ============================================================ */
  @media screen and (max-width: $m){
    #{$map}{
      height: 400px;
    }
  }
  @media screen and (max-width: $s){
    #{$map}{
      height: 300px;
    }
  }
  @media screen and (max-width: $xs){
    #{$map}{
      height: 200px;
    }
  }
/* ========================================================================== */