$tabsContentWidth: 70%;
/* ======================================================================================= */
  .tabs{
    .content{
      position: relative;
      width: $tabsContentWidth;
      overflow: hidden;
      font-size: 0;
      &::before{
        content: '';
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        padding: $mainIndent*1.5 0;
        margin: (-$mainIndent*1.5) 0;
        border-left: 1px solid darken(#FFF,15%);
        border-right: 1px solid darken(#FFF,5%);
      }
    }
    .description,
    .before-after{
      vertical-align: top;
      width: 50%;
      font-size: 16px;
    }
    .description{
      padding: 0 $mainIndent 0 0;
    }
    .sub-title{
      margin: 0 0 $mainIndent;
    }
    .before-after{
      padding: 0 $mainIndent;
      text-align: center;
    }
    .headlines{
      vertical-align: top;
      width: 100% - $tabsContentWidth;
      overflow: hidden;
      li{
        &:first-child{
          .tab-headline{
            &::before{
              display: none;
            }
          }
        }
      }
    }
    .tab-headline{
      position: relative;
      display: block;
      padding: $mainIndent/2 $mainIndent;
      background: $primaryTextColor url(../img/noise.png) repeat left top;
      font: 18px/26px $primaryFont;
      color: #FFF;
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        display: block;
        border-top: 1px solid darken($primaryTextColor,5%);
        border-bottom: 1px solid lighten($primaryTextColor,5%);
      }
      &:hover{
        background-color: lighten($primaryTextColor,5%);
      }
      &.active{
        background-color: $secondaryTextColor;
      }
    }
    .tab-content{
      position: absolute;
      left: 0;
      top: 0;
      @include transform(translate(100%,0));
      @extend %hidden;
      @extend %transition-normal-speed;
      &.active{
        position: relative;
        @extend %visible;
        @include transform(translate(0,0));
      }
    }
  }
  @media screen and (max-width: 800px){
    .tabs{
      .headlines,
      .content{
        width: 100%;
      }
    }
  }
/* ======================================================================================= */