  $aboutSection: '.about-company';
/* ========================================================================== */
  #{$aboutSection}{
    #{$gDescription},
    .image{
      flex: 1 1 50%;
    }
    #{$gDescription}{
      padding: 0 $mainIndent*1.5 0 0;
    }
    .image{
      margin: 0 (-$mainIndent*.5);
      a{
        margin: 0;
        padding: 0 $mainIndent*.5;
      }
    }
    img{
      box-shadow: 0 0 2px -1px #000;
    }
    #{$button}{
      display: block;
      width: 150px;
      margin: 40px 0 0;
      text-align: center;
    }
  }
/* Media Queries ============================================================ */
  @media screen and (max-width: $m){
  	#{$aboutSection}{
      .mw{
        flex-direction: column;
      }
      #{$gDescription}{
        padding: 0 0 $mainIndent;
      }
      .image{
        display: none;
      }
  	}
  }
  @media screen and (max-width: $s){
    #{$aboutSection}{
      h2{
        text-align: center;
      }
      #{$gDescription}{
        padding: 0;
      }
      #{$button}{
        margin: $mainIndent*1.5 auto 0;
      }
    }
  }
/* ========================================================================== */