$skills-block-width: 45%;
$image-block-width: 30%;
/*  ====================================================================================== */
  .doctors{
    padding-bottom: 0;
    .mw{
      background: #FFF;
    }
    .grid{
      &-itm{
        vertical-align: top;
      }
      .image{
        vertical-align: bottom;
        padding-bottom: 0;
      }
    }
    .name{
      margin: 0;
    }
    .info{
      width: 100% - $image-block-width;
    }
    .description{
      width: 100% - $skills-block-width;
    }
    .skills{
      width: $skills-block-width;
    }
    .image{
      width: $image-block-width;
    }
    .owl-pagination{
      position: absolute;
      padding: 0 0 $mainIndent;
      left: 50%;
      bottom: 0;
      z-index: 1;
    }
  }
/*  ====================================================================================== */