/* Prices Section =========================================================== */
  #{$blockService}{
    text-align: center;
    header{
      align-items: center;
      justify-content: center;
      flex-flow: column wrap;
      margin: 0 0 $mainIndent;
    }
    img{
      width: 70px;
      height: 70px;
      padding: $mainIndent*.5;
      margin-bottom: $mainIndent*.5;
      border-radius: 50%;
      border: 2px solid $secondaryColor;
      box-shadow: 0 2px 5px 1px #000;
      @extend %darkBlock;
    }
    #{$subTitle}{
      margin: 0;
      font-size: 30px;
    }
    #{$priceTable}{
      text-align: left;
    }
  }
  .s-prices{
    text-align: center;
  }
/* Media Queries ============================================================ */
  @media screen and (max-width: $m){
    #{$blockService}{
      #{$subTitle}{
        font-size: 28px;
      }
    }
  }
  @media screen and (max-width: $s){
    #{$blockService}{
      #{$subTitle}{
        font-size: 26px;
      }
    }
  }
  @media screen and (max-width: $xs){
    #{$blockService}{
      header{
        margin-bottom: $mainIndent*.5;
      }
      img{
        width: 50px;
        height: 50px;
      }
      #{$subTitle}{
        font-size: 20px;
      }
    }
  }
/* ========================================================================== */