/* ========================================================================== */
	#{$postMeta}{
		margin: 0 0 10px;
		font-size: 12px;
	}
	#{$readMore}{
		display: flex;
		align-items: center;
		&::after{
			content: $iArrowRight;
			padding: 0 0 0 10px;
			font: 8px/1 $iconsFont;
		}
	}
	#{$postImage}{
		height: 500px;
		background: $secondaryColor top center / cover;
	}
	#{$postContent}{
		padding-top: $mainIndent*5;
		padding-bottom: $mainIndent*4;
		color: $primaryDarkColor;
		&::after{
			content: '';
			display: table;
			clear: both;
		}
		ul{
			margin: 0 0 $mainIndent;
		}
		li{
			margin: 0 0 $mainIndent*.25;
			text-indent: $mainIndent*.5;
			&::before{
				content: '-';
				display: inline-block;
				text-indent: -$mainIndent*.5;
			}
		}
		#{$floatedContent}{
			float: right;
		}
	}
	#{$postEntry}{
		text-align: center;
		h2{
			font-size: 30px;
			margin: 0 0 $mainIndent;
		}
	}
/* Media Queries ============================================================ */
	@media screen and (max-width: $l){
		#{$postContent}{
			padding-top: $mainIndent*2;
			padding-bottom: $mainIndent;
		}
	}
	@media screen and (max-width: $m){
		#{$postContent}{
			display: flex;
			flex-flow: column;
			.floated-content{
				order: 99;
			}
			#{$bService}{
				order: 100;
			}
		}
	}
/* ========================================================================== */
