	$pageAbout: '.p-about';
/* Common =================================================================== */
	#{$pageAbout}{
		#{$license}{
			max-width: $xs;
			padding: 0 0 $mainIndent $mainIndent;
		}
	}
/* Media Queries ============================================================ */
	@media screen and (max-width: $m){
		#{$pageAbout}{
			#{$license}{
				padding: 0;
				margin: 0 auto $mainIndent*1.5;
			}
		}
	}
/* ========================================================================== */