	$wideSlider: '.wide-slider';
/* Wide Slider ============================================================== */
	#{$wideSlider}{
		position: relative;
		color: #FFF;
		height: 500px;
		background: #000;
		p{
			margin-bottom: $mainIndent*1.5;
		}
		#{$slide}{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background: $primaryTextColor center top / cover;
			transition:
				opacity $fastSpeed linear,
				visibility $fastSpeed linear;
			@extend %hidden;
			&.active{
				position: relative;
				@extend %visible;
			}
			&::before{
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: rgba(#000, .7);
				box-shadow: 0 0 4px -1px #000 inset;
			}
		}
		#{$gDescription}{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-flow: column;
			height: 100%;
			max-width: $s;
			margin: 0 auto;
			padding: $slideNavW*2;
			text-align: center;
		}
		#{$sliderNav}{
			a{
				position: absolute;
				height: 100%;
				top: 0;
				background: rgba($primaryTextColor, .5);
			}
		}
		#{$nextSlide}{
			right: 0;
		}
		#{$prevSlide}{
			left: 0;
		}
		#{$sliderDots}{
			position: absolute;
			width: 100%;
			bottom: 20px;
			left: 0;
		}
	}
/* Not Handheld ============================================================= */
	#{$notHandheld}{
		#{$wideSlider}{
			&:hover{
				#{$nextSlide}{
					right: 0;
				}
				#{$prevSlide}{
					left: 0;
				}
				#{$sliderDots}{
					bottom: 20px;
				}
			}
		}
		#{$nextSlide}{
			right: -$slideNavW;
		}
		#{$prevSlide}{
			left: -$slideNavW;
		}
		#{$sliderDots}{
			bottom: -$slideDotW*1.5;
			transition: bottom $fastSpeed linear;
		}
	}
/* Media Queries ============================================================ */
	@media screen and (max-width: $l){
		#{$wideSlider}{
			#{$gDescription}{
				padding: $mainIndent*2;
			}
		}
	}
	@media screen and (max-width: $s){
		#{$wideSlider}{
			#{$gDescription}{
				padding: $mainIndent;
			}
			#{$button}{
				padding: $mainIndent*.5 $mainIndent;
			}
		}
	}
/* ========================================================================== */