/* Fonts ==================================================================== */
	$primaryFont:  'Roboto', sans-serif;
	$headingsFont: 'Play', sans-serif;
	$iconsFont: 	 'Icomoon';
 /* Colors ================================================================== */
	$primaryColor: 			 #505050;
	$secondaryColor: 	   #11BFF1;
	$primaryDarkColor:   #252525;
	$primaryTextColor:   #282F37;
	$secondaryTextColor: #3D6E99;
	$dividerColor:       #CCC;
	$attentionColor:	   #E98B1C;
	$errorColor:         #CC1D14;
	$successColor:	 	   #06B86B;
/* ========================================================================== */
	$linkWithIcon: '.i-link';
	$link:         '.link';
	$title: 			 '.title';
	$pageTitle:    '.page-title';
	$subTitle:     '.sub-title';
	$gDescription: '.description';
	$notHandheld:  '.not-handheld';
	$button:			 '.btn';
	$priceTable:   '.price-table';
	$roundedImages: '.rounded-images';
	$itemTrigger: '.item-trigger';
	$iconClass: '.icn';
/* Post ===================================================================== */
	$post:        '.post';
	$postTitle:   '.post-title';
	$postMeta:    '.post-meta';
	$postEntry:   '.post-entry';
	$postImage:   '.post-image';
	$postContent: '.post-content';
	$floatedContent: '.floated-content';
	$postListing: '.post-listing';
	$readMore:    '.read-more';
	$listItem:    '.list-item';
	$singlePost:  '.single-post';
/* Block | Page Intro ======================================================= */
	$bPageIntro: 			'.b-page-intro';
/* Block | Breadcrumbs ====================================================== */
	$bBreadcrumbs:    '.b-crumbs';
	$crumb: 					'.crumb';
/* Block | Map ============================================================== */
	$bMap:            '.b-map';
/* Block | Service ========================================================== */
	$bService: 		    '.b-service';
/* Block | Contact Links ==================================================== */
	$bContactLinks:   '.b-contact-links';
	$linkDirectionH:  '.links-horizontal';
	$linkDirectionV:  '.links-vertical';
	$cLinkW:					40px;
	$cLinkH:					$cLinkW;
/* Blocks =================================================================== */
	$bServiceExample: '.b-service-example';
	$bService:        '.b-service';
/* Icons ==================================================================== */
	$iPin:        		'\E900';
	$iPhone:      		'\E901';
	$iEnvelope:   		'\E902';
	$iRuble:      		'\E903';
	$iClock:      		'\E904';
	$iArrowLeft:  		'\E905';
	$iArrowRight: 		'\E906';
	$iMenu: 					'\E907';
	$iDoubleArrowTop: '\E908';
/* Media Widths ============================================================= */
	$maxWidth:  1920px;
	$mainWidth: 1200px;
	$l: 			  1024px;
	$m: 			  900px;
	$s:         700px;
  $xs:        500px;
  $minWidth:  320px;
/* Indents ================================================================== */
	$mainIndent: 20px;
/* Transition Speed ========================================================= */
	$fastSpeed:   .2s;
	$normalSpeed: $fastSpeed*1.5;
	$slowSpeed:   $fastSpeed*2.5;
/* Preloader ================================================================ */
	$ajaxLoader: url(../img/preloader.svg);
/* ========================================================================== */